<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gsCrearClasesTablas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gsCrearClasesTablas.My.MySettings>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SQLDataSource" serializeAs="String">
                <value>(local)\SQLEXPRESS</value>
            </setting>
            <setting name="SQLInitialCatalog" serializeAs="String">
                <value>pubs</value>
            </setting>
            <setting name="SQLSeguridad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UsarSQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lenguaje" serializeAs="String">
                <value>VB</value>
            </setting>
            <setting name="OleDbBaseDeDatos" serializeAs="String">
                <value>E:\gsCodigo\Vb6\Pruebas\Bases\db2000NET.mdb</value>
            </setting>
            <setting name="OleDbProvider" serializeAs="String">
                <value>Microsoft.Jet.OLEDB.4.0</value>
            </setting>
            <setting name="OleDbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UsarCommandBuilder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyrightAutor" serializeAs="String">
                <value>Guillermo 'guille' Som</value>
            </setting>
            <setting name="CopyrightVersion" serializeAs="String">
                <value>2.0.0.0</value>
            </setting>
            <setting name="CopyrightFecha" serializeAs="String">
                <value>30/Nov/2018</value>
            </setting>
            <setting name="UsarAddWithValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsarExecuteScalar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usarOverrides" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropiedadAuto" serializeAs="String">
                <value>True</value>
            </setting>
        </gsCrearClasesTablas.My.MySettings>
    </userSettings>
</configuration>
